body{
	min-width: 1200px;
	font-size: 14px;
	font-family: "PTSans";
	font-weight: normal;
	line-height: 24px;
	color:#333333;
}

h3{
	margin: 0;
	padding: 0;
}

h4{
	margin: 0;
	padding: 0;
	line-height: 21px;
	text-align: center;
}

p{
	margin: 0;
	padding: 0;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.page-content{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	background: #f2f2f2;
}

.main-introduction h3{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
	text-align: center;
	margin-bottom: 35px;
}

.reason-container{
	background-color: #81b3d2;
}

.reason-container h3{
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
}

.main-header{
	position: relative;
}

.logo{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	width: 138px;
}

.main-navigation{
	width: 1200px;
	margin-left: 73px;
	margin-right: 73px;
}

.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
	margin-right: 148px;
	line-height: 26px;
	font-size: 14px;
}

.main-navigation li:nth-child(2){
	margin-right: 400px;
}

.main-navigation a{
	display: block;
	padding: 20px 0px;
	text-decoration: none;
}

.top-page-intro img{
	display: block;
	margin: 0px auto;
	margin-top: 76px;
	width: 458px;
}

.main-introduction{
	padding-top: 65px;
	padding-bottom: 58px;
}

.main-introduction p{
	text-align: center;
	line-height: 21px;
}

.reason-container{
	width: 280px;
	height: 142px;
	padding: 57px 60px;
}

.reason-container img{
	width: 800px;
}

.reason-1 .reason-container{
	float:left;
}
.reason-container p{
	line-height: 21px;
	text-align: center;
	margin-top: 30px;
}

.reason{
	width: 300px;
	padding: 88px 50px;
}

.reason p{
	margin-top: 30px;
}

.reason-block-3 p{
	margin-top: 30px;
}

.hotel-food-souv p{
	line-height: 1;
	text-align: center;
}

.hotel-reason{
	float:left;
}

.food-reason{
	float:left;
}

.souvenir-reason{
	float:right;
}

.reason-2 .reason-container{
	float:right;
}

.reason-block-3{
	float:left;
	width: 210px;
	padding: 50px 95px;
}

.reason-block-3:last-child{
	float:right;
}

.reason-block-3 p{
	line-height: 21px;
	text-align: center;
}

.plan-visit{
	padding-top: 55px;
}

.plan-visit .plan-visit-head{
	line-height: 24px;
	text-align: center;
	margin-bottom: 35px;
}

.plan-visit p{
	line-height: 21px;
	text-align: center;
}
.hotels{
	width: 568px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 54px;
	padding: 55px;
}

.calendar-date{
	padding-top: 30px;
}

.hotels input[type="number"]{
	margin-top: 30px;
}

/*inner page*/

.main-container-inner{
	margin-left: auto;
	margin-right: auto;
	width: 1056px;
}


.search-properties{
	padding-top: 30px;
	padding-bottom: 30px;
}

.search-properties ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.infrastructure{
	float: left;
}

.accommodation{
	float:left;
	margin-left: 110px;
}

.pricing{
	float:right;
}

.sort-results{
	padding-top: 32px;
	clear: both;
	margin-bottom: 35px;
}

.sort-left{
	float:left;
}

.sort-left span{
	display: inline-block;
	font-size: 21px;
	margin-right: 50px;
}

.sort-left ul{
	margin: 0;
	padding: 0;
	font-size: 0;
}

.sort-left li{
	display: inline-block;
	margin-right: 32px;
	font-size: 12px;
}

.sort-left a{
	text-decoration: none;
}

.sort-right{
	float: right;
	margin-right: 73px;
}

.hotel-results{
}

.hotel-item{
	padding-top: 32px;
	padding-bottom: 30px;
	min-height: 152px;
	background-color: blue;
}

.hotel-preview{
	float: left;
	background-color: red;
}

.hotel-preview img{
	width: 135px;
	height: 90px;
}

.hotel-summary{
	margin-left: 30px;
	float: right;
	font-size: 0px;
}

.hotel-summary h4{
	text-align: left;
	line-height: 26px;
	font-size: 21px;
}

.hotel-summary-plus{
	margin-top: 14px;
}

.hotel-summary-plus span{
	font-size: 14px;
}

.hotel-type{
	margin-right: 40px;
}

.hotel-action{
	margin-top: 16px;
}

.read-more{
	padding: 4px 15px;
	background-color: #81b3d2;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

.book-it{
	margin-left: 7px;
	padding: 4px 15px;
	background-color: #766357;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

.hotel-rating{
	float: right;
}

.hotel-stars{
	margin-bottom: 75px;
}

.rating-point span{
	padding: 5px 15px;
	background-color: #f2f2f2;
	color: #666666;
}

.footer{
	padding-top: 40px;
	padding-bottom: 40px;
}

.visit-sedona{
	float: left;
	padding-left: 133px;
	padding-top: 40px;
	padding-bottom: 53px;
}

.social-buttons{
	float: left;
}

.copyright{
	float:right;
	padding-right: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.copyright p{
	float: left;
	margin-right: 5px;
}
