body {
  min-width: 1200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
}
h3 {
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.page-content {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  position: relative;
}
.main-header {
  position: relative;
  padding-left: 73px;
  padding-right: 73px;
}
.logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
  width: 138px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  line-height: 26px;
  font-size: 14px;
  width: 242px;
  vertical-align: middle;
}
.main-navigation li:nth-child(3) {  
  margin-left: 84px;
}
.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {  
  text-align: right; 
}
.main-navigation a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: #cacaca;
}
.main-navigation .current {
  color: #766357;
}
.main-navigation .current:hover {
  color: #604e43;
}
.main-navigation .current:active {
  color: #d6d0cc;
}
.top-page-intro {  
  padding-top: 76px;
  height: 430px;
  background-color: #3a719a;
  background: url("../img/intro-shape-element.png") no-repeat bottom,
  url("../img/intro-background-photo.jpg") 0 -55px;
}
.top-page-intro img {
  display: block;
  margin: 0 auto;
  width: 458px;
}
.main-introduction {
  padding-top: 65px;
  padding-bottom: 55px;
  background-color: #ffffff;
}
.main-introduction h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 28px;
  max-width: 550px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.main-introduction p {
  text-align: center;
  line-height: 21px;
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
}
.reason-1 {
  position: relative; 
  background-color: #a18f85; 
  overflow: hidden;
}
.reason-1 img {
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
.reason-container {
  width: 280px;
  padding: 56px 60px;
  background-color: #81b3d2;
  position: relative;
  z-index: 1;
}
.reason-1 .reason-container { 
  float: left; 
}
.reason-container h3 {
  max-width: 200px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}
.reason-container p {
  line-height: 22px;
  text-align: center;
  margin-top: 18px;
  color: #ffffff;
}
.reason {
  width: 300px;
  padding: 80px 50px;
  float: left;
  position: relative;
  padding-top: 150px;
}
.reason p {  
  margin-top: 27px;
}
.reason-2 {
  position: relative;
  background-color: #ecb39b;
  overflow: hidden;
}
.reason-2 img {
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}
.hotel-food-souv h4 {
  margin-top: 10px;
  line-height: 21px;
  text-align: center;
  font-size: 21px;
}
.hotel-food-souv p {
  line-height: 21px;
  text-align: center;
}
.hotel-reason h4::after{
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../img/sprite.png");
  background-position: -150px -52px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -38px;
}
.food-reason h4::after {
  content: "";
  width: 74px;
  height: 70px;
  background-image: url("../img/sprite.png");
  background-position: -56px -52px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -37px;
}
.souvenir-reason h4::after {
  content: "";
  width: 64px;
  height: 76px;
  background-image: url("../img/sprite.png");
  background-position: -10px -144px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -32px;
}
.reason-2 .reason-container {  
  float: right;
}
.space-road-tourist {
  background-color: #eeeeee;
}
.reason-block-3 {
  float: left;
  width: 210px;
  padding: 45px 95px;
}
.reason-block-3:last-child {  
  float: right; 
}
.reason-block-3 p {
  line-height: 21px;
  text-align: center;
  margin-top: 24px;
}
.reason-block-3 h4 {
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
  line-height: 21px;
  text-align: center;
  font-size: 21px;
}
.plan-visit {
  padding-top: 65px;
}
.plan-visit-head {
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
.plan-visit-text {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.hotels {
  position: relative;
  width: 570px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes show {
  0% {
  transform: translateY(-480px);
  }
  100% {
  transform: translateY(0px);
  }
}

.hotel-form {
  padding: 54px 51px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 0;
  animation: show 0.6s;
  display: none;
}
.hotel-form-show{
  display: block;
}
.hotel-form label {
  font-weight: 700;
  font-size: 14px;
}
.hotel-form input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
  font-size: 14px;
}
.hotel-form input::-moz-input-placeholder {
  color: #000000;
  opacity: 1;
  font-size: 14px;
}
.hotel-form input::-o-input-placeholder {
  color: #000000;
  opacity: 1;
  font-size: 14px;
}
.hotel-search {
  background-color: #766357;
  border: none;
  padding: 32px 140px;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  width: 570px;
  font-weight: 700;
}
.calendar-date {  
  margin-bottom: 24px;
  font-size: 0;
}
.calendar-date input[type="text"] {
  width: 335px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  padding-left: 13px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}
.calendar-date input[type="text"]:hover {
  background-color: #ebebeb;
}
.calendar-date input[type="text"]:focus {
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e5e5e5;
  height: 36px;
  padding-left: 11px;
  width: 333px;
}
.date-input {
  position: relative;
  display: inline-block;
}
.calendar-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
}
.calendar-icon::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 0;
  background-image: url("../img/sprite.png");
  width: 21px;
  height: 22px;
  background-position: -10px -10px;
}
.calendar-icon:hover::after {
  background-position: -92px -10px;
}
.calendar-icon:active::after {
  background-position: -51px -10px;
}
.selection-label {
  display: inline-block;
  width: 110px;
  margin-left: 5px;
  vertical-align: middle;
}
.selection-area{
  width: 345px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.visitors-number {
  width: 114px;
  display: inline-block;
  font-size: 14px;
  position: relative;
  vertical-align: middle;
}
.visitors-input input[type="number"] {
  width: 34px;
  height: 38px;
  vertical-align: top;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-appearance: none;
}
.visitors-input input[type="number"]:hover {
  background-color: #ebebeb;
}
.visitors-input input[type="number"]:focus {
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e5e5e5;
  height: 34px;
  width: 30px;
}
.visitors-input input[type="number"]::-webkit-inner-spin-button, 
.visitors-input input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.counter {
  width: 40px;
  margin-top: .5px;
  cursor: pointer;
  line-height: 38px;
  color: #a9a9a9;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 0;
}
.minus {
  left: 0;
}
.plus {
  right: 0;
}
.adults {
  margin-right: 5px;
}
.child-label {
  display: inline-block;
  width: 90px;
  vertical-align: middle;
  white-space: normal;
  margin-right: 25px;
  text-align: right;
}
.visitors-input{
  white-space: nowrap;
}
.visitors-input span:hover {
  color: #000000;
}
.visitors-input span:active {
  color: #81b3d2;
}
.search-button {
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  padding: 20px 195px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.search-button:hover {
  background-color: #669ec0;
}
.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.map {
  min-height: 592px;
  background-color: #ffffff;
  background: url("../img/map.png") no-repeat;
  background-position: -40px -155px;
}

/*inner page*/
.search-properties {  
  padding: 26px 73px;
  padding-bottom: 14px;
  background-color: #3a719a;
  background: url("../img/hotels-background.jpg");
  color: #ffffff;
}
.search-properties ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.search-properties li {
  margin-bottom: 21px;
}
.search-properties p {  
  font-weight: 700;
  margin-bottom: 20px;
}
.search-properties input[type="checkbox"] {
  display: none;
}
.search-label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 40px;
}
.search-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-position: -175px -10px;
}
input[type="checkbox"]:checked + .search-label::before {
  content: "";
  width: 26px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-position: -10px -52px;
  position: absolute;
  top: 0;
  left: 0;
}
input[type="checkbox"]:disabled + .search-label::before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-position: -133px -10px;
  position: absolute;
  top: 0;
  left: 0;
}
input[type="checkbox"]:checked:disabled + .search-label::before {
  content: "";
  width: 26px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-position: -217px -10px;
  position: absolute;
  top: 0;
  left: 0;
}
.infrastructure {
  float: left;
  width: 235px;
}
.accommodation {
  float: left;
  width: 180px;
  margin-left: 20px;
}
.pricing {
  float: right;
  width: 328px;
}
.pricing p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 10px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 63px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.range-controls {
  position: relative;
  margin-left: 10px;
  margin-bottom: 32px;
}
.scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.toggle:hover {
  background: #1c4f80;
}
.min-toggle {
  left: 0;
}
.max-toggle {
  left: 80%;
}
.pricing input[type="submit"] {
  display: block;
  margin: 0 auto;
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 6px 35px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}
.pricing input[type="submit"]:hover {
  color: #000000;
  background: #ffffff;
}
.sort-results {
  padding-top: 32px;
  clear: both;
  padding-bottom: 30px;
  font-size: 0;
  padding-left: 73px;
  padding-right: 73px;
}
.sort-left {
  float: left;
  width: 900px;
  font-size: 0;
}
.sort-left span {
  display: inline-block;
  font-size: 21px;
  margin-right: 50px;
  font-weight: 700;
  vertical-align: middle;
}
.sort-left ul {
  max-width: 720px;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}
.sort-left li {
  display: inline-block;
  margin-right: 32px;
  font-size: 12px;
  vertical-align: middle;
}
.sort-left a {
  text-decoration: none;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}
.sort-left a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sort-left a:active {
  color: #000000;
  border: none;
  outline: none;
}
.sort-left .current {
  color: #81b3d2;
  border: none;
}
.sort-left .current:hover {
  border: none;
}
.sort-right {
  float: right;
  width: 40px;
  height: 10px;
  font-size: 0;
  margin-right: -5px;
}
.sort-right a {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 6px;
}
.triangle-up {
  margin-right: 13px;
}
.triangle-down {
  margin-top: 2px;
}
.triangle-up::after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 9px solid #cccccc;
  left: 0;
}
.triangle-up:hover::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 9px solid #000000;
}
.triangle-up:active::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 9px solid #81b3d2;
}
.triangle-down::after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #cccccc;
  right: 0;
}
.triangle-down:hover::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #000000;
}
.triangle-down:active::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #81b3d2;
}
.triangle-down.current::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #81b3d2;
}
.triangle-down.current:hover::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #81b3d2;
}
.hotel-item {
  border-top: 1px solid #e5e5e5;
  padding-top: 22px;
  padding-bottom: 30px;
  background-color: #fefefe;
  padding-left: 73px;
  padding-right: 73px;
}
.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.hotel-preview {
  float: left;
  width: 800px;
}
.hotel-preview img {
  width: 135px;
  height: 90px;
  float: left;
  margin-top: 5px;
}
.hotel-summary {
  margin-left: 30px;
  float: left;
  font-size: 0;
  max-width: 600px;
}
.hotel-summary a {
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  vertical-align: baseline;
}
.hotel-name {
  display: block;
  max-width: 600px;
  text-align: left;
  line-height: 27px;
  font-size: 21px;
  color: #000000;
}
.hotel-name:hover{
  color:#81b3d2;
}
.hotel-name:active{
  color:#b2b2b2;
}
.hotel-summary-info {
  font-size: 0;
}
.hotel-summary-info span {  
  display: inline-block;
  font-size: 14px; 
  width: 110px;
  word-break: break-all;
  margin-right: 5px;
  vertical-align: middle;
}
.hotel-action {
  margin-top: 10px;
  line-height: 1;
  font-size: 0;
}
.read-more {
  display: inline-block;
  padding: 7px 16px;
  background-color: #81b3d2;
  font-size: 14px;
  color: #ffffff;
  vertical-align: baseline;
}
.read-more:hover {
  background-color: #669ec0;
}
.read-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.book-it {
  display: inline-block;
  margin-left: 5px;
  padding: 7px 16px;
  background-color: #766357;
  font-size: 14px;
  color: #ffffff;
  vertical-align: baseline;
}
.book-it:hover {
  background-color: #604e43;
}
.book-it:active {
  background-color: #503e33;
  color: #857871;
}
.hotel-rating {  
  float: right;
}
.hotel-stars {  
  margin-bottom: 40px;
  margin-top: 5px;
  font-size: 0;
  text-align: right;
}
.hotel-stars span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -345px -104px;
  width: 18px;
  height: 17px;
}
.star {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-left: 6px;
  vertical-align: top;
}
.rating-point {
  padding: 2px 15px;
  background-color: #f2f2f2;
  color: #666666;
}
footer {
  font-size: 0;
  background-color: #ffffff;
}
.main-footer {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.visit-sedona {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  padding-top: 35px;
  padding-bottom: 40px;
  box-sizing: border-box; 
}
.social-buttons {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 40px;
  box-sizing: border-box; 
}
.social-btn {
  width: 47px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  background-color: #81b3d2;
  margin: 0 2px;
  position: relative;
  font-size: 0;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
}
.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.social-btn-twitter::before {
  width: 17px;
  height: 15px;
  background-position: -305px -69px;
}
.social-btn-twitter:active::before {
  background-position: -342px -69px;
}
.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -245px -69px;
}
.social-btn-fb:active::before {
  background-position: -275px -69px;
}
.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -10px -104px;
}
.social-btn-youtube:active::before {
  background-position: -305px -104px;
}
.copyright {
  display: inline-block;
  text-align: right;
  width: 33%;
  padding-right: 80px;
  vertical-align: middle;
  position: relative;
  padding-top: 35px;
  padding-bottom: 40px;
  box-sizing: border-box; 
}
.copyright p {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.copyright a {
  position: relative;
  margin-left: 17px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: 39px;
}
.copyright a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -94px -144px;
}
.copyright a:hover::after {
  background-position: -263px -10px;
}
.copyright a:active::after {
  background-position: -94px -203px;
}
